/*FOOTER WEB*/
footer{
  background:$color01;
  padding: 70px 0px 65px 0px;
  margin:0px 0px 0px 0px;
  @media screen and (max-width: $window-size-05) {
    margin:0px 0px 0px 0px;
  }
}

.tx-footer-web-01{
  color: $color01;
  font-family: $Helvetica-Thin;
  // font-family: $Arsenal-Regular;
  font-size: $tx-size-06 + .2;
  line-height: 1.25;
  text-align: center;
  margin-top: 40px;
  padding: 0rem 7rem 0rem 7rem;
  @media screen and (max-width: $window-size-01) {
    padding: 0rem 5rem 0rem 5rem;
  }
  @media screen and (max-width: $window-size-02) {
    padding: 0rem 5rem 0rem 5rem;
    font-size: $tx-size-06 - .2;
    margin-top: 30px;
  }
  @media screen and (max-width: $window-size-03) {
    letter-spacing: 0px;
    text-align: left;
    line-height: 1.5;
  }
  @media screen and (max-width: $window-size-04) {
    letter-spacing: 0px;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
.tx-footer-web-02{
  color: $blanco;
  // font-family: $Helvetica-Thin;
  font-family: $Arsenal-Regular;
  font-size: $tx-size-02;
  text-align: center;
  margin:0px 0px 15px 0px ;
  @media screen and (max-width: $window-size-02) {
    font-size: $tx-size-03;
  }
}

.btn-footer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  color:$blanco;
  width: 100%;
  font-family: $Arsenal-Bold;
  font-size: $tx-size-05;
  margin-bottom: 15px;
  // border: 3px solid transparent;
  border: 3px solid transparent;
  border-image-source: linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%); 
  border-image-slice: 1;
  &:hover{
    // color:$color01;
    color:$blanco;
  }
  @media screen and (max-width: $window-size-03) {
    height: 60px;
    font-size: $tx-size-06 + .2;
  }
  @media screen and (max-width: $window-size-05) {
    height: 60px;
    font-size: $tx-size-06;
  }
}

.btn-footer.btn-footer-01.active{
  // color:$color01;
  color:$blanco;
  // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-image-source: $gradient02; 
  border-image-slice: 1;
  @media screen and (max-width: $window-size-03) {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    color:$blanco;
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    border-image-source: $gradient02; 
    border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      color:$blanco;
      background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      border-image-source: $gradient02; 
      border-image-slice: 1;
    }
  }
}
.btn-footer.btn-footer-02.active{
  color:$blanco;
  // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-image-source: $gradient02; 
  border-image-slice: 1;
  @media screen and (max-width: $window-size-03) {
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-mobile-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    color:$blanco;
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    border-image-source: $gradient02; 
    border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      color:$blanco;
      background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-mobile-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      border-image-source: $gradient02; 
      border-image-slice: 1;
    }
  }
}
.btn-footer.btn-footer-03.active{
  color:$blanco;
  // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-image-source: $gradient02; 
  border-image-slice: 1;
  @media screen and (max-width: $window-size-03) {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-3-min-ubicacion-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    color:$blanco;
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    border-image-source: $gradient02; 
    border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      color:$blanco;
      background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      border-image-source: $gradient02; 
      border-image-slice: 1;
    }
  }
}
.btn-footer.btn-footer-04.active{
  color:$blanco;
  // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-image-source: $gradient02; 
  border-image-slice: 1;
  @media screen and (max-width: $window-size-03) {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-4-min-mobile-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-mobile-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    color:$blanco;
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    border-image-source: $gradient02; 
    border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      color:$blanco;
      background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-mobile-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      border-image-source: $gradient02; 
      border-image-slice: 1;
    }
  }
}
.btn-footer.btn-footer-05.active{
  color:$blanco;
  // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-image-source: $gradient02; 
  border-image-slice: 1;
  @media screen and (max-width: $window-size-03) {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-5-min-contacto-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:hover {
    // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    color:$blanco;
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    border-image-source: $gradient02; 
    border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      color:$blanco;
      background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 3px solid transparent;
      border-image-source: $gradient02; 
      border-image-slice: 1;
    }
  }
}
  


.btn-footer.btn-footer-01{
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &:hover{
    // color:$color01;
    // color:$blanco;
    color:$color01;
    background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    // border-image-source: $gradient02; 
    // border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-1-min-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
    }
  }
  @media screen and (max-width: $window-size-03) {
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-1-min-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.btn-footer.btn-footer-02{
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &:hover{
    // color:$blanco;
    color:$color01;
    background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    // border-image-source: $gradient02; 
    // border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-2-min-mobile-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      // background-position: center;
      background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-2-min-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
    }
  }
  @media screen and (max-width: $window-size-03) {
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-2-min-mobile-condominio-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.btn-footer.btn-footer-03{
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &:hover{
    // color:$blanco;
    color:$color01;
    background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    // border-image-source: $gradient02; 
    // border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-3-min-ubicacion-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-3-min-ubicacion-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
    }
  }
  @media screen and (max-width: $window-size-03) {
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-3-min-ubicacion-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.btn-footer.btn-footer-04{
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &:hover{
    // color:$blanco;
    color:$color01;
    background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    // border-image-source: $gradient02; 
    // border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-4-min-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-mobile-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
    }
  }
  @media screen and (max-width: $window-size-03) {
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-4-min-mobile-constructora-alianza-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.btn-footer.btn-footer-05{
  background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &:hover{
    // color:$blanco;
    color:$color01;
    background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid transparent;
    // border-image-source: $gradient02; 
    // border-image-slice: 1;
    @media screen and (max-width: $window-size-03) {
      // background:linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url('../images/explorar-menu-5-min-contacto-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      // background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url('../images/explorar-menu-5-min-contacto-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
    }
  }
  @media screen and (max-width: $window-size-03) {
    background:linear-gradient(90deg, rgba(17, 35, 52, .4) 0%, rgba(17, 35, 52, .4) 100%), url('../images/explorar-menu-5-min-contacto-mobile-casas-campestres-altos-del-palmar-adp-web-2020-adp-recursos-web-imagenes.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}



/* ENDPAGE */
.end-page{
  padding:40px 0px 180px 0px;
  @media screen and (max-width: $window-size-04) {
    padding:40px 0px 70px 0px;
  }
}
.tx-end-page-01{
  color: $color01;
  font-family: $Helvetica-Thin;
  font-size: $tx-size-05;
  margin:25px 0px 15px 0px ;
  @media screen and (max-width: $window-size-02) {
    margin:15px 0px 15px 0px ;
    font-size: $tx-size-06;
  }
  @media screen and (max-width: $window-size-04) {
    margin:0px 0px 15px 0px ;
  }
}
.contenedor-redes-sociales{
  display: flex;
  flex-direction: row;
  
  .global{
    margin-right:0px;
    .icon-instagram:before{
      margin-left: 8px;
      background: $gradient02;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3rem;
    }
    .icon-facebook:before,
    .icon-youtube:before{
      background: $gradient02;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3rem;
      margin-left: 18px;
      margin-right: 0px;
    }
  }
  @media screen and (max-width: $window-size-03) {
    justify-content: flex-end;
  }
}
.logo-constructora-alianza-footer{
  display: flex;
  @media screen and (max-width: $window-size-02) {
    justify-content: flex-end;
  }
  img{
    margin: 0px 0px 0px 0px;
    width: 130px;
  }
}