/* GLOBALES */
$Arsenal-Bold: 'Arsenal-Bold';
$Arsenal-Italic: 'Arsenal-Italic';
$Arsenal-Regular: 'Arsenal-Regular';
$Helvetica-Regular: 'Helvetica-Neue-Bold';
$Helvetica-Thin: 'Helvetica-Neue-Light';

$window-size-01: 1700px;
$window-size-02: 1199px;
$window-size-03: 991px;
$window-size-04: 767px;
$window-size-05: 575px;
$window-size-05-a: 480px;
$window-size-05-b: 380px;

$padding0: 0px;
$padding1: 30px;

// $tx-size-01: 40px;
// $tx-size-02: 34px;
// $tx-size-03: 28px;
// $tx-size-04: 24px;
// $tx-size-05: 20px;
// $tx-size-06: 14px;
// $tx-size-07: 10px;

$tx-size-01: 4rem;
$tx-size-02: 3.2rem;
$tx-size-03: 2.8rem;
$tx-size-04: 2.4rem;
$tx-size-05: 2rem;
$tx-size-06: 1.4rem;
$tx-size-07: 1rem;

$color01: #112334;
$color02: #BC913E;
$color03: #ECEBA2;
$color04: #7B2627; 
$color05: #E5E5E5; 
$color06: #898989; 

$blanco: #FFF;
$negro: #000;


$gradient01: linear-gradient(90deg, rgba(188,145,62,1) 0%, rgba(236,235,162,1) 100%);
$gradient02: linear-gradient(90deg, rgba(188,145,62,1) 0%, rgba(236,235,162,1) 50%, rgba(188,145,62,1) 100%);
$gradient03: linear-gradient(180deg, rgba(188,145,62,1) 0%, rgba(236,235,162,1) 100%);

$gradient04: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(17,35,52,1) 100%);
$gradient05: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(17,35,52,1) 100%);

$gradient06: linear-gradient(180deg, rgba(188,145,62,1) 0%, rgba(236,235,162,1) 50%, rgba(188,145,62,1) 100%);

$gradient07: linear-gradient(270deg, rgba(17,35,52,1) 0%, rgba(0,1,28,1) 100%);


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  /** Fusiona padding con medidas especificas **/
  font-size: 62.5%;
  /** Reset para REMS - 62.5% => 10px === 1rem **/
}

a,p,h1,h2,h3,h4,h5,h6{
  font-family: $Arsenal-Regular;
  margin:0px;
  padding:0px;
  text-decoration: none;
  color:$negro;
  font-size: $tx-size-05;
}

a:hover{
  cursor: pointer;
  text-decoration: none;
}

p{
  line-height: 1.25;
}

.tx_seo{
	position: absolute;
	top:-500px;
	z-index: -1;
}

.sin-padding{
  padding-left: 0px;
  padding-right: 0px;
}
.sin-padding-responsive{
  padding-left: 0px;
  padding-right: 0px;
  @media screen and (max-width: $window-size-03) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sin-padding-left{
  padding-left: 0px;
}
.sin-padding-left-responsive{
  padding-left: 0px;
  @media screen and (max-width: $window-size-03) {
    padding-left: 15px;
  }
}

.sin-padding-right{
  padding-right: 0px;
}
.sin-padding-right-responsive{
  padding-right: 0px;
  @media screen and (max-width: $window-size-03) {
    padding-right: 15px;
  }
}

button:focus {
  outline: none;
}


#backdrop-menu-principal.show {
  opacity: 1;
}

#backdrop-menu-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:linear-gradient(90deg, rgba(17, 35, 52, .7) 0%, rgba(17, 35, 52, .7) 100%);
}


#backdrop-menu-agil.show {
  opacity: 1;
}

#backdrop-menu-agil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:linear-gradient(90deg, rgba(17, 35, 52, .7) 0%, rgba(17, 35, 52, .7) 100%);
}

.modal-backdrop {
  background: linear-gradient(90deg, rgba(17, 35, 52, 0.7) 0%, rgba(17, 35, 52, 0.7) 100%);
}

/* NAV MENU PRINCIPAL*/
.menu-adp-estilo{
  position: relative;
  background: $blanco;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  border: none;
  z-index: 800;
  @media screen and (max-width: $window-size-03) {
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    // z-index: 1;
  }
}
.menu-adp.navbar.navbar-expand-lg.navbar-light{
  padding: 0px 0px;
}
.borde-dorado-nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  // border-bottom: 3px solid transparent;
  box-shadow: none;
  width: 250px;
  padding:10px 0px;
  @media screen and (max-width: $window-size-03) {
    width: 100%;
    // border-bottom: 3px solid $color02;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  }
}
.navbar-brand{
  margin-left: 15px;
  img{
    width: inherit;
    @media screen and (max-width: $window-size-03) {
      width: 180px;
    }
    @media screen and (max-width: $window-size-04) {
      width: 150px;
    }
    @media screen and (max-width: $window-size-05) {
      width: 120px;
    }
  }
}
.menu-adp.navbar-toggler{
  margin-right: 15px;
  padding: 3px 0px 3px 7px;
  border: none;
}

.global{
  .icon-menu-default{
    background: $gradient01;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
  }
}
.global{
  .icon-menu-close{
    background: $gradient01;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
  }
}

.menu-adp.navbar-light .navbar-nav {
  align-items: center;
  @media screen and (max-width: $window-size-03) {
    align-items: initial;
  }
}

.menu-adp.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.menu-adp.navbar-light .navbar-nav .nav-item {
  border-right: 1px solid $color05;
  @media screen and (max-width: $window-size-03) {
    border-right: none;
    border-bottom: 1px solid $color05;
  }
}

.menu-adp.navbar-light .navbar-nav .nav-link {
  color: $color01;
  font-family: $Helvetica-Thin;
  font-size: $tx-size-06 + .2;
  line-height: 1;
  background: $blanco;
  border: none;
  border-bottom: 3px solid transparent !important;
  padding: 5px 10px 5px 10px;
  margin: 0px 15px;
  &:hover{
    color: $color02;
    border-bottom: 3px solid transparent !important;
  }
  @media screen and (max-width: $window-size-01) {
    padding: 5px 5px 5px 5px;
  }
  @media screen and (max-width: $window-size-02) {
    padding: 5px 2px 5px 2px;
    font-size: $tx-size-07 + .2;
  }
  @media screen and (max-width: $window-size-03) {
    font-size: $tx-size-06;
    text-align: center;
    margin: 0px 0px;
    padding: 15px 0px 15px 0px;
  }
}
.menu-adp.navbar-light .navbar-nav .nav-link.active {
  // border-bottom: 3px solid $color02 !important;
  border-bottom: 3px solid transparent;
  border-image-source: $gradient02; 
  border-image-slice: 1;
}

.menu-adp.navbar-light .navbar-nav .ultimo.nav-item {
  border-right: 1px solid transparent;
  @media screen and (max-width: $window-size-03) {
    border-right: none;
    border-bottom: none;
  }
}

.menu-adp.navbar-light .navbar-nav .contacto.nav-item {
  border-right: 1px solid transparent;
  @media screen and (max-width: $window-size-03) {
    border-right: none;
    border-bottom: none;
  }
}
.menu-adp.navbar-light .navbar-nav .contacto .nav-link {
  color: $color01;
  background: $gradient02;
  border:1px solid transparent !important;
  border-right: 1px solid transparent;
  padding: 10px 15px 10px 15px;
  margin: 0px 5px;
  &:hover{
    color: $color01;
    background: $blanco;
    border:1px solid $color02 !important;
  }
  @media screen and (max-width: $window-size-03) {
    margin: 0px 0px;
    padding: 15px 15px 15px 15px;
    font-family: $Helvetica-Regular;
  }

}

.menu-adp.navbar-light .navbar-nav .contacto .nav-link.active {
  color: $color01;
  background: $gradient02;
  // border:1px solid transparent !important;
  border-right: 1px solid transparent;
  padding: 10px 15px 10px 15px;
  margin: 0px 5px;
  &:hover{
    background: transparent;
    border: 1px solid transparent;
    border-image-source: $gradient02; 
    border-image-slice: 1;
    color: $color01;
    // background: $gradient02;
    // border:1px solid transparent !important;
  }
  @media screen and (max-width: $window-size-03) {
    margin: 0px 0px;
    padding: 15px 15px 15px 15px;
    font-family: $Helvetica-Regular;
  }

}